# Node
node_modules/
dist/
.env
*.log

# Flutter
apps/mobile/.dart_tool/
apps/mobile/build/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.packages
apps/mobile/pubspec.lock

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
